.select-box {
  position: relative;
  width: 16.8rem;
  z-index: 999;
}
.countrycode {
  padding-right: 10px;
}
.select-box input {
  width: 100%;

  padding: 1rem 0.6rem;
  font-size: 1.1rem;

  outline: none;
  z-index: 999;
  border-left: 0.05rem solid black;
}
.codeselector {
  width: 70%;
}
input[type="tel"] {
  padding: 1rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  box-sizing: border-box;
}

.selected-option {
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.05rem solid black;
}

.selected-option div {
  width: 30%;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 2px;
}

.selected-option div::after {
  position: absolute;
  content: "";
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);

  transition: 0.2s;
}

.selected-option div.active::after {
  transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
  position: absolute;
  top: 4rem;

  width: 80%;
  background-color: #fff;
  border-radius: 0.5rem;

  display: none;
  z-index: 999;
}

.select-box .options.active {
  display: block;
  z-index: 999;
}

.select-box .options::before {
  position: absolute;
  content: "";
  left: 1rem;
  top: -1.2rem;

  z-index: 999;
}

input.search-box {
  background-color: var(--primary);
  color: black;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.4rem 1rem;
  z-index: 999;
}

.select-box ol {
  list-style: none;
  max-height: 23rem;
  overflow: overlay;
  z-index: 999;
  z-index: 999;
  margin-left: -1.7rem;
}

.select-box ol::-webkit-scrollbar {
  width: 0.6rem;
  z-index: 999;
}

.select-box ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: 0.4rem;
  z-index: 999;
}

.select-box ol li {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 999;
}

.select-box ol li.hide {
  display: none;
}

.select-box ol li:hover {
  background-color: lightcyan;
}

.select-box ol li .country-name {
  margin-left: 0.4rem;
}
input[type="tel"] {
  height: 2.67rem;
}
.select-box {
  padding-top: 5px;
}
input {
  border: 1px solid transparent;
  outline: none;
}
