@media (max-width: 1080px) {
  /*sidepanel */
  .openbtn {
    display: block;
    position: fixed;
    top: 20px;
    right: 20%;
  }
  .sidepanel {
    display: block;
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 18%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }
  .home-header {
    font-size: 50px;
  }
  .home-content h1 {
    max-width: 60%;
  }
  .home-content p {
    max-width: 60%;
  }
  .image1 {
    margin-left: 15%;
    padding-bottom: -40%;
  }

  .image2 {
    margin-left: -15%;
  }

  .cs-form {
    max-width: min(100px, 40%);
  }

  .order-header {
    font-size: 80px;
  }

  .order-tagline {
    font-size: 70px;
  }
  .order-form p {
    font-size: 40px;
    margin-left: 0;
    max-width: 60%;
  }
  .navbar {
    display: none;
  }
  #about-us {
    margin-left: 17%;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .h1-name {
    font-size: 100px;
  }
  .about-us-heading {
    font-size: 100px;
  }
  #about-us p {
    font-size: 50px;
  }
  .aseemm {
    float: none;
    width: 100%;
  }
  .jasnoor {
    float: none;
    width: 100%;
  }

  .title {
    font-size: 30px;
    margin-left: 0;
    text-align: center;
  }

  .intro,
  .aboutus-desc,
  .order-content,
  .faq-title {
    font-size: 18px;
    max-width: 90%;
    margin: auto;
  }

  .order-form {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .place-order {
    font-size: 50px;
    width: 50%;
    padding: 40px;
    margin-top: 40px;
    border-radius: 999px;
  }

  .faqs-container {
    max-width: 90%;
    max-height: auto;
  }

  .faq {
    padding: 20px;
  }

  .cs-form {
    width: 90%;
    max-width: 100%;
    padding: 10px;
    margin-top: 20px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1em;
    padding: 10px;
  }

  .footer {
    background-color: #393285;
    position: relative;
    height: 40px;
    clear: both;
    width: 100%;
    color: white;
  }
}
