@media (max-width: 1080px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  .cs-form {
    max-width: 40%;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;
    position: static;
  }
  #about-us {
    margin-left: 17%;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .h1-name {
    font-size: 100px;
  }
  .about-us-heading {
    font-size: 100px;
  }
  #about-us p {
    font-size: 50px;
  }
  .aseemm {
    float: none;
    width: 100%;
  }
  .jasnoor {
    float: none;
    width: 100%;
  }
  .navbar ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .title {
    font-size: 30px;
    margin-left: 0;
    text-align: center;
  }

  .intro,
  .aboutus-desc,
  .order-content,
  .faq-title {
    font-size: 18px;
    max-width: 90%;
    margin: auto;
  }

  .order-form {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .place-order {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  .faqs-container {
    max-width: 90%;
    max-height: auto;
  }

  .faq {
    padding: 20px;
  }

  .cs-form {
    width: 90%;
    max-width: 100%;
    padding: 10px;
    margin-top: 20px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1em;
    padding: 10px;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
  }

  .footer {
    background-color: #393285;
    position: relative;
    height: 40px;
    clear: both;
    width: 100%;
    color: white;
  }
}
